<div class=header-bar>

  <h1>Welcome to the Clubhouse</h1>

  <div class="header-button-container">

    <%= button_to "Create Post", new_post_path, method: :get, class: "header-button" %>

    <% if user_signed_in? %>
      <%= button_to "Log out",
      destroy_user_session_path,
      method: "delete", class: "header-button",
      data: {
        turbo: "false",
      } %>
    <% else %>
      <%= button_to "Log in", new_user_session_path, method: :get, class: "header-button" %>
    <% end %>

  </div>

</div>

<div class="posts-wrapper">

  <% @post.all.each do |post| %>

    <div class="post-card">

      <article>
        <h3><%= post.title %></h3>
        <p class="card-description"><%= post.content %></p>
      </article>

      <h4 class="post-author">
        <%= user_signed_in? ? post.user.email : "Anonymous" %>
      </h4>

      <% if user_signed_in? && current_user == post.user %>
        <%= button_to "Delete", post_path(post), method: :delete, data: { confirm: "Are you sure?" }, class: "btn delete-btn" %>
      <% end %>

    </div>

  <% end %>

</div>